old
convert
.venv
__pycache__
Affectnet_model.pth
# facial_expression_recognition_mobilefacenet.onnx
MUL_KSIZE_MobileNet_v2_best.hdf5
face_landmarker.task
pose_landmarker_full.task
MobileNet_v2_best.onnx
Emotion_detetion_deep_learning_model
Fash_mesh_mediapipe_v0
VIT_affectnet.pth